/* Default text and background color for entire document*/
*{
    background-color: black;
    color:#2272FF;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* Navbar styling */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
  }
  

  .navbar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: #333;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

/* To prevent Navbar/header collision*/
.header{
  margin-top: 50px;
}

article{
    text-align: center;
}
.header{
    text-align: center;
}
.header p{
    text-align: center;
}

/* Image Flex container */
.flex-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 4;
  flex-shrink: 4;
}

/* Footer Styling */
footer{
    position:fixed;
    bottom:10px;
    left:0;
    right:0;
    height:30px;
    text-align: center;
}
  .footP{
    display: inline;
}

